
/* Navbar ----------------------------------------------------------------------------------------------------------------------------- */
.navbar {
    width: 100%;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    }
    
    .ticket-link {
    color:rgb(0, 255, 0);
    }
    
    .logo {
    width: 7rem;
    height: 4rem;
    }
    
    .img-fluid {
    width: 100%;
    height: auto;
    }

/* Introduccion */
.introduccion {
    background-image: url(./assets/img/ba3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
  }
  
  .introduccion .sombra {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .introduccion .sombra .container-flex {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10vh;
  }
  
  .introduccion .sombra .container-flex .contenido {
    width: 50%;
    margin-bottom: 10vh;
    text-align: right;
  }
  
  .introduccion .sombra .container-flex .contenido h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  
  .introduccion .sombra .container-flex .contenido .container-botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .introduccion .sombra .container-flex .contenido .container-botones a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
/* Botones */
.btn {
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.btn-secundario {
    border: 2px solid darkgrey;
    margin-right: 1rem;
    color: #333;
    background-color: transparent;
}

.btn-secundario:hover {
    background-color: rgba(95, 95, 95, 0.55);
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, .55);
    transition: 0.5s;
}

.btn-primario {
    background-color:  rgb(0, 150, 0);
    border: 2px solid rgb(0, 150, 0);
    color: #fff;
}

.btn-primario:hover {
    background-color: rgb(0, 150, 0);
    border-color: rgb(0, 255, 0);
    color: whitesmoke;
    transition: 0.4s;
}

/* Oradores --------------------------------------------------------------------------------------------------------------------------- */
.oradores .titulo {
    text-align: center;
}

.oradores .titulo h6 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.oradores .container-oradores {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
}

.oradores .container-oradores .card {
    width: 30%;
    min-width: 300px;
}

.oradores .container-oradores .card .steve {
    margin-bottom: .5rem;
}

.oradores .container-oradores .card .habilidades {
    margin-top: 1.5rem;
    display: flex;
    padding-left: 1rem;
}

.oradores .container-oradores .card .habilidades h6 {
    font-size: 0.8rem;
    font-weight: 700;
    padding: .2rem .3rem;
    margin-right: .3rem;
    margin-bottom: 0;
    margin-left: 0;
}

.oradores .container-oradores .card .habilidades .yellow {
    background-color: rgb(255, 190, 0);
    border-radius: 5px;
}

.oradores .container-oradores .card .habilidades .cyan {
    background-color: rgb(1, 170, 221);
    color:white;
    border-radius: 5px;
} 

.oradores .container-oradores .card .habilidades .grey {
    background-color: grey;
    color: white;
    border-radius: 5px;
} 

.oradores .container-oradores .card .habilidades .red {
    background-color: rgba(255, 0, 0, .8);
    color: white;
    border-radius: 5px;
} 

.oradores .container-oradores .card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
}

.oradores .container-oradores .card p {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 1rem;
}


/* Banner */
.banner {
    margin-top: 1rem;
  }
  
  .banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .banner-text {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .banner-text h2 {
    font-weight: 600;
    font-size: 2rem;
  }
  
  .banner-text p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .banner-image-container {
    width: 50%;
    max-width: 600px;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .btn {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 5px;
    color: lightgray;
    text-decoration: none;
  }
  
  .btn-transparente {
    border: 1px solid lightgray;
  }
  
  .btn-transparente:hover {
    background-color: rgba(255, 255, 255, 0.55);
    color: lightgray;
    border: 1px solid rgba(255, 255, 255, 0.55);
    transition: 0.3s;
  }

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario .titulo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .formulario .titulo h3 {
    font-size: 1rem;
    color: #3a3a3a;
  }
  
  .formulario .titulo .underline {
    text-decoration: underline dotted #2c2c2c;
  }
  
  .formulario .container-formulario {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .formulario .container-formulario .nombre-apellido {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .formulario .container-formulario .input-name,
  .formulario .container-formulario .input-about {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin-right: 4px;
    border-radius: 5px;
    border: 1px solid #929292;
  }
  
  .formulario .container-formulario .input-name:focus,
  .formulario .container-formulario .input-about:focus {
    outline: 1px solid #646464;
  }
  
  .formulario .container-formulario h6 {
    color: #929292;
  }
  
  .formulario .container-formulario .boton-enviar {
    width: 80%;
    margin: 1rem 0;
    padding: 0.4rem 0;
    font-size: 1.5rem;
    background-color: rgba(94, 199, 25, 0.8);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: none;
  }
  
  .formulario .container-formulario .boton-enviar:hover {
    background-color: #11e61c;
    transition: 0.3s;
  }
/* Footer ----------------------------------------------------------------------------------------------------------------------------- */
.footer {
    background-image: linear-gradient(to right, #004d7a, #00838f);
}

.footer .container-footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container-footer a {
    text-decoration: none;
    color: white;
    padding: 1.3rem 0;
    margin: 0 1.5rem;
    width: 100px;
    text-align: center;
}

/* Media Queries */


@media(max-width: 768px) {

    .introduccion {
        width: 100%;
        height: 50%;
        margin-top: 4vh;
        margin-bottom: 1vh;
        text-align: center;
        font-size: 
    }

    
}